name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: urmzd
          template: classic
          base: header, activity, community, repositories
          filename: metrics.svg
          output_action: commit
          committer_branch: main
          committer_message: "chore: update metrics"
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_threshold: "0%"
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_ignored: Jupyter Notebook
          config_padding: "6%"
